<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eminence.drive13">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".ImageTesting" />

        <service android:name=".utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".profile.Insuarencefav" />
        <activity android:name=".profile.Workshopfav" />
        <activity android:name=".AddTransaction" />
        <activity android:name=".Transactiondetails" />
        <activity android:name=".Leaddetails" />
        <activity android:name=".Newsdetail" />
        <activity
            android:name=".HotelDetails"
            android:theme="@style/MyTheme2" />
        <activity android:name=".profile.ContactUs" />
        <activity android:name=".profile.About" />
        <activity android:name=".profile.privacypolicy" />
        <activity android:name=".profile.Termcondition" />
        <activity android:name=".profile.Payments" />
        <activity android:name=".profile.HotelFavourite" />
        <activity android:name=".profile.PersnolDocuments" />
        <activity android:name=".profile.MyProfile" />
        <activity android:name=".profile.Vehiclelist" />
        <activity android:name=".profile.Regitervehicle" />
        <activity android:name=".Leads" />
        <activity android:name=".News" />
        <activity android:name=".Transaction" />
        <activity android:name=".Profile" />
        <activity android:name=".InsurenceMain" />
        <activity android:name=".WorkshopMain" />
        <activity android:name=".OTPScreen" />
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity
            android:name=".Getstarted"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HotelMain" />
    </application>

</manifest>